<%- include( "../partials/adminprofilesidebar" ) -%>

<div class="admin-container">

    <div class="row p-5 pb-3">
        <div class="col-7 d-flex">
            <h1 class="m-0">Orders</h1>
        </div>

        <!-- <div class="col-5 d-flex">
            <a href="/admin/addcustomer" class="btn btn-danger ms-auto fs-5">
                Add New Record
            </a>
        </div> -->
    </div>

    <div class="row pb-3 d-flex justify-content-center">
        <div class="col-11">

            <% let i = 0 %>

            <% getCustomerOrders.forEach(customerOrder => { %>

                <div class="accordion accordion-flush" id="accordionFlushExample<%= i %>">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-white text-dark fs-5" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#flush-collapse<%= i %>" 
                                aria-expanded="false" 
                                aria-controls="flush-collapse<%= i %>"
                                style="border-bottom: 1px solid #ccc;">
                                Order# <%= i + 1 %>
                            </button>
                        </h2>
                        <div id="flush-collapse<%= i %>" 
                            class="accordion-collapse collapse" 
                            data-bs-parent="#accordionFlushExample<%= i %>">
                            <div class="accordion-body">


                                <%# Showing Customer Orders in a Table %>
                                <table class="table fs-7">
                                <thead>
                                    <tr style="border-bottom: 2px solid black;">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Order Item</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% let number = 0; %>
                                    <% customerOrder.order.forEach(element => { %>
                                            <tr style="border-bottom: 1px solid grey;" class="align-middle" >
                                            <td><%= ++number %></td>
                                            <td><%= element.customerName %></td>
                                            <td><%= element.customerPhone %></td>
                                            <td><%= element.customerEmail %></td>
                                            <td><%= element.medicineName %></td>
                                            <td><%= element.quantity %></td>
                                        </tr>
                                    <% }); %>

                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            <% i++ %>
            <% }); %>
    </div>
</div>







<%- include( "../partials/footer" ) -%>