<%- include( "../partials/adminsidebar" ) -%>

<div class="admin-container">

    <div class="row p-5 pb-3">
        <div class="col-7 d-flex">
            <h1 class="m-0">Customers Data</h1>
        </div>

        <div class="col-5 d-flex">
            <a href="/admin/addcustomer" class="btn btn-danger ms-auto fs-5">
                Add Customer Record
            </a>
        </div>
    </div>

    <div class="row p-5 pb-3">
        <div class="col-12">
            
            <%# Showing Customer Records in a Table %>
            <table class="table fs-7">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col" style="width:40%;">Actions</th>
                </tr>
            </thead>
            <tbody>

                <% let number = 0; %>
                <% customersData.forEach(customer => { %>
                    <tr>
                    <td><%= ++number %></td>
                    <td><%= customer.name %></td>
                    <td><%= customer.phone %></td>
                    <td><%= customer.email %></td>
                    <td>
                        <%# See Customer details and Login %>
                        <a href="/admin/seerecord/<%= customer._id %>" class="btn btn-primary">View Full Details</a>
                        
                        <a href="/admin/updaterecord/<%= customer._id %>" class="btn btn-danger">Edit</a>
                        <a href="/admin/deleterecord/<%= customer._id %>" class="btn btn-warning">Delete</a>
                        <a href="/admin/customers" class="btn btn-dark">Login</a>
                    </td>
                </tr>
                <% }); %>

            </tbody>
            </table>

        </div>
    </div>


</div>

<%- include( "../partials/footer" ) -%>