<%- include( "../partials/adminprofilesidebar" ) -%>

<div class="admin-container">

    <div class="row p-5 pb-3">
        <div class="col-7 d-flex">
            <h1 class="m-0">Medicines Data</h1>
        </div>

        <div class="col-5 d-flex">
            <a href="/admin/addmedicine" class="btn btn-danger ms-auto fs-5">
                Add New Medicine
            </a>
        </div>
    </div>

    <div class="row p-5 pb-3">
        <div class="col-12">
            
            <%# Showing Customer Records in a Table %>
            <table class="table fs-7">
            <thead>
                <tr style="border-bottom: 2px solid black;">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price (Rs)</th>
                    <th scope="col">Stock Quantity</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                <% let number = 0; %>
                <% getMedicinesData.forEach(medicine => { %>
                    <tr style="border-bottom: 1px solid grey;" class="align-middle" >
                    <td><%= ++number %></td>
                    <td><%= medicine.name %></td>
                    <td><%= medicine.category %></td>
                    <td ><%= medicine.price %></td>
                    <td><%= medicine.stock_quantity %></td>
                    <td><%= medicine.supplier_id.name %></td>
                    <td>
                        <%# See Customer details and Login %>
                        <a href="/admin/medicine/view/<%= medicine._id %>" class="btn btn-primary">View</a>
                        
                        <a href="/admin/medicine/update/<%= medicine._id %>" class="btn btn-danger">Edit</a>
                        <a href="/admin/medicine/delete/<%= medicine._id %>" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
                <% }); %>                

            </tbody>
            </table>

        </div>
    </div>


</div>

<%- include( "../partials/footer" ) -%>